*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,sans-serif;
}
header
{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    box-shadow: 1px 3px 10px #636e72;

}
.l-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.l-header img
{
    width: 80px;
    height: 50px;
}
.l-header i
{
    position: absolute;
    left: 32%;
    top: 37%;
    color: #636e72;
}
.l-header input
{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 35px;
    font-size: 13px;
    background: #F0F2F5;
    color: #000;
}
.m-header
{
    margin-left: 80px;
    position: relative;
}

.m-header a
{
   text-decoration: none;
   color: #000;
   font-size: 23px;
   padding-right: 80px;
   position: relative;

}
.m-header a::before
{
    content: '';
    width: 0;
    height: 2px;
    background: #1877F2;
    position: absolute;
    top: 150%;
    left: -27%;
    transition: all 0.5s linear;
}
.m-header a:hover::before
{
    width: 100px;
}
.m-header .drop-inner
{
    position: absolute;
    top: 170%;
    left: -8%;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.4s;
}

.m-header .drop-inner p
{
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 5px;
    font-size: 12px;
}
.m-header a:hover .drop-inner
{
    opacity: 1;
}

.m-header a:hover
{
    color: #1877F2;
}

.r-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    position: relative;
}
.r-header .circle-img
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 5px;
}
.r-header .circle-img:hover
{
    background: #F0F2F5;
}

.r-header .circle-img span
{
    font-weight: bold;
}
.r-header .circle-img img
{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
}

.r-header i
{
    margin-right: 8px;
    background: #D8DADF;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

.r-header a
{
   text-decoration: none;
   color: #000;
   position: relative;
}
.r-header .drop-inner
{
    position: absolute;
    top: 135%;
    left: -20%;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.4s;
}


.r-header .drop-inner p
{
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 5px;
    font-size: 12px;
}

.r-header a:hover .drop-inner
{
    opacity: 1;
}


.container
{
    width: 100%;
    height: 100%;
}
.row
{
    background: #D8DADF;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.row .col-1
{
    background: #F0F2F5;
    flex-basis: 25%;
    border-right: 2px solid rgba(194, 174, 174, 0.5);
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    overflow-y: auto;
    height: 90vh;  
}
.row .col-1::-webkit-scrollbar
{
    width: 7px;
}
.row .col-1::-webkit-scrollbar-track
{
    background-color: #E5E8EB;
    border-radius: 10px;
}
.row .col-1::-webkit-scrollbar-thumb
{
    background-color: #BCC0C4;
    border-radius: 10px;

}
.row .col-1 .circle-img
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 8px;
    margin-right: 5px;
}

.row .col-1 .circle-img span
{
    font-family: sans-serif;
    font-weight: bold;
}
.row .col-1 .circle-img img
{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    margin-right: 8px;
}
.row .col-1 .special-links
{
    padding-left: 10px;
    margin-top: 25px;
   
}
.row .col-1 .special-links a
{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 8px;
    border-radius: 5px;
}
.row .col-1 .special-links i
{
    font-size: 22px;
    margin-right: 10px;
}
.fa-user-md,.fa-tag
{
    color: #9D34BB;
}
.row .col-1 .special-links .fa-user-friends,.fa-clock,.fa-users
{
    color: #3694E8;
}
.row .col-1 .special-links .fa-chevron-down
{
    font-size: 16px;
    border-radius: 50%;
    background: #D8DADF;
    padding: 10px;
}
.row .col-1 .special-links .see:hover
{
    background-color: #F0F2F5;
}

.row .col-1 .special-links a:hover
{
    background: #D8DADF;
}

.row .col-1 .special-shortcut
{
    padding-left: 5px;
    margin-top: 25px;
}
.row .col-1 .special-shortcut a
{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 5px;  
}
.row .col-1 .special-shortcut .grp-1
{
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 7px 12px;
    border-radius: 5px;
}

.row .col-1 .special-shortcut img
{
    width: 40px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}
.row .col-1 .special-shortcut span
{
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.row .col-1 .special-shortcut .grp-1:hover
{
    background: #D8DADF;
}

.row .col-1 .special-shortcut .fa-chevron-down
{
    font-size: 16px;
    border-radius: 50%;
    background: #D8DADF;
    padding: 10px;
    margin-right: 10px;
}
.row .col-1 .special-shortcut .see:hover
{
    background-color: #F0F2F5;
}

.row .col-1 .special-shortcut .see:hover
{
    background-color: #F0F2F5;
}

.row .col-1 .line
{
    width: 300px;
    height: 2px;
    border-radius: 3px;
    background: #D8DADF;
    margin: 15px auto;
}

.row .col-1 .footer p
{
   font-size: 13px;
   color: #BCC0C4;
   margin-left: 15px;
   margin-top: 12px;
}
.row .col-2
{
    background: #F0F2F5;
    flex-basis: 50%;
}
.row .col-3
{
    background: #F0F2F5;
    flex-basis: 25%;
}
